@tailwind base;
@tailwind utilities;

html{
  overflow-y: hidden;
}

body{
  margin: 0px;
}

.marker-description  {
  width:100%;
  max-width:200px;
  margin-bottom: 5px;
  background-color: rgba(51, 65, 84, .9);
  padding: .5rem .8rem;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}